.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.image-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.image-container .poster {
  width: 100%;
  top: 0;
  padding-top: 133.34%;  /* height/width of background image */
  background-image: url(../img/background_portrait.jpg);
  background-size: 100%;
}
@media (min-aspect-ratio: 1/1) {
  .image-container .poster {
    padding-top: 88.89%;  /* height/width of background image */
    background-image: url(../img/background.jpg);
    background-size: 100%;
  }
}
.overlay-desc {
  background: rgba(0,0,0,0.4);
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
  position: absolute;
  top: 0; right: 50%; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
}
.overlay-desc > * {
  padding-left: 5%;
  padding-right: 5%;
}
.header {
  height: 33%;
  min-height: min-content;
}
.header h1 {
  font-family: 'Lato';
  color: white;
  font-size: 300%;
  font-weight: 700;
  text-align: right;
  margin-bottom: 5%;
}
@media (min-width: 40em) {
  .header h1 {
    font-size: 500%;
  }
}
.header h2 {
  font-family: 'Fira Sans';
  font-weight: 200;
  color: white;
  font-size: 120%;
  text-align: right;
}
.body {
  height: 100%;
  padding-top: 5%;
}
.body p {
  font-family: 'Fira Sans';
  color: white;
  text-align: right;
  font-size: 100%;
}
@media (min-width: 40em) {
  .body p {
    font-size: 150%;
  }
}

.social {
  margin-top: 20px;
  margin-right: 20px;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: right;
  align-items: flex-end;
}
.social a {
  color: inherit;
}
.logo {
  height: 2.55em;
  width: 2.55em;
  margin-top: 0.2em;
}
